@import "tailwindcss";

@theme {
  --color-primary-dark: #202020;
  --color-primary-light: #ffffff;
  --color-text-dark: #ffffff;
  --color-text-light: #202020;
  --color-accent-dark: #4a4a4a;
  --color-accent-light: #e5e5e5;
  
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
}
